html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/*RTL*/
body {
    direction: rtl;
    font-family: Vazir, Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

.form-datetime,
.form-date,
code,
pre {
    direction: ltr;
}

/*textarea{*/
/*    -webkit-box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*    width: 100%;*/
/*}*/

@font-face {
    font-family: Vazir;
    src: url(/plugins/PersianBoard/Assets/fonts/vazir/Vazir-FD-WOL.eot);
    src: url(/plugins/PersianBoard/Assets/fonts/vazir/Vazir-FD-WOL.eot?#iefix)format('embedded-opentype'), url(/plugins/PersianBoard/Assets/fonts/vazir/Vazir-FD-WOL.woff) format('woff'), url(/plugins/PersianBoard/Assets/fonts/vazir/Vazir-FD-WOL.ttf) format('truetype');
    font-weight: 400
}

@font-face {
    font-family: Vazir;
    src: url(/plugins/PersianBoard/Assets/fonts/vazir/Vazir-Bold-FD-WOL.eot);
    src: url(/plugins/PersianBoard/Assets/fonts/vazir/Vazir-Bold-FD-WOL.eot?#iefix)format('embedded-opentype'), url(/plugins/PersianBoard/Assets/fonts/vazir/Vazir-Bold-FD-WOL.woff) format('woff'), url(/plugins/PersianBoard/Assets/fonts/vazir/Vazir-Bold-FD-WOL.ttf)format('truetype');
    font-weight: 700
}

/*calendar headers*/
.fc .fc-row {
    height: 100%;
}
.fc .fc-row table{
    margin: 0;
}

small {
    font-size: .8em
}

ul.no-bullet li {
    margin-left: auto;
    margin-right: 0;
}

#app-loading-icon {
    left: 3px;
    right: auto;
}

a .fa {
    padding-right: unset;
    padding-left: 3px;
}

table th {
    text-align: right;
}

table td li {
    margin-right: 20px;
    margin-left: unset;
}

tr.draggable-item-selected td:first-child {
    border-left: inherit;
    border-right: none;
}

tr.draggable-item-selected td:last-child {
    border-right: inherit;
    border-left: none;
}

.table-list-header a {
    margin-right: auto;
    margin-left: 10px;
}

.table-list-header .table-list-header-count {
    color: #767676;
    display: inline-block;
    float: left
}

.table-list-header .table-list-header-menu {
    text-align: right
}

.table-list-row {
    border-right: inherit;
    border-left: 1px solid var(--table-list-border-color);
}

.table-list-row:hover {
    border-right: inherit;
    border-left: 1px solid var(--table-list-row-hover-border-color);
}

.table-list-row .table-list-title.status-closed {
    margin-right: inherit;
    margin-left: 10px;
}

.table-list-row .table-list-details span {
    margin-left: inherit;
    margin-right: 5px;
}

.table-list-row .table-list-details span:first-child {
    margin-right: 0;
    margin-left: inherit;
}

.table-list-row .table-list-details-with-icons {
    float: right;
}

.table-list-row .table-list-icons {
    text-align: left;
}

@media (max-width: 768px) {
    .table-list-row .table-list-icons {
        text-align:right;
    }
}

.table-list-row .table-list-icons span {
    margin-left: unset;
    margin-right: 5px;
}

input[type="number"],input[type="date"],input[type="email"],input[type="password"],input[type="text"]:not(.input-addon-field) {
    padding-left: unset;
    padding-right: 4px;
}

.form-required {
    padding-left: unset;
    padding-right: 5px;
}

ul.form-errors li {
    margin-left: unset;
    margin-right: 0;
}

.form-inline label {
    padding-right: unset;
    padding-left: 3px
}

.form-inline input,.form-inline select {
    margin: 0 0 0 15px;
}

.form-columns .form-column {
    margin-right: unset;
    margin-left: 25px;
}

@media (max-width: 480px) {
    .form-login {
        margin-left:unset;
        margin-right:5px;
    }
}

.form-login li {
    margin-left: unset;
    margin-right: 25px;
}

.input-addon-field:first-child {
    border-radius: 0 5px 5px 0;
}

.input-addon-field:last-child {
    border-radius: 5px 0 0 5px;
}

.input-addon-item:first-child {
    border-radius: 0 5px 5px 0;
}

.input-addon-item:last-child {
    border-radius: 5px 0 0 5px;
}

.input-addon-field:not(:first-child),.input-addon-item:not(:first-child) {
    border-left: 1px solid var(--views-border-color);
    border-right: 0;
}

.alert {
    padding: 8px 14px 8px 35px;
}

.alert li {
    margin-left: unset;
    margin-right: 25px
}

.alert-fade-out {
    left: unset;
    right: 20%;
}

.select-dropdown-input-container input.select-dropdown-input {
    margin: 0 5px 0 0;
}

.select-dropdown-input-container .select-dropdown-chevron {
    right: auto;
    left: 5px;
}

.select-dropdown-input-container .select-loading-icon {
    right: auto;
    left: 5px;
}

#modal-header {
    text-align: left;
    padding-right: unset;
    padding-left: 5px;
}

.pagination-showing {
    margin-right: unset;
    padding-right: unset;
    border-right: indianred;
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid #999;
}

.pagination-next {
    margin-left: unset;
    margin-right: 5px;
}

.pagination-previous {
    margin-right: unset;
    margin-left: 5px;
}

@media (max-width: 480px) {
    header .menus-container {
        margin-left: unset;
        margin-right: auto;
    }
}

.page-header .dropdown {
    padding-right: unset;
    padding-left: 10px;
}

.page-header ul {
    text-align: right;
}

.page-header li {
    padding-right: unset;
    padding-left: 15px;
}


ul.dropdown-submenu-open{
    left: unset;
    right: 15px;
}

.menu-inline li {
    padding-right: unset;
    padding-left: 15px;
}

.sidebar-content {
    padding-left: unset;
    padding-right: 10px;
}

@media (max-width: 768px) {
    .sidebar-content {
        padding-left:unset;
        padding-right:0;
    }
}

.sidebar>ul li {
    padding-left: unset;
    padding-right: 13px;
}

.sidebar>ul li:hover {
    border-left: unset;
    padding-left: unset;
    border-right: 5px solid #555;
    padding-right: 8px;
}

.sidebar>ul li.active {
    border-left: unset;
    padding-left: unset;
    border-right: 5px solid #333;
    padding-right: 8px;
}

.sidebar-icons>ul li {
    padding-left: unset;
    padding-right: 0;
}

.sidebar-icons>ul li:hover,.sidebar-icons>ul li.active {
    padding-left: unset;
    border-left: inherit;
    padding-right: 0;
    border-right: none;
}

.avatar-left {
    float: right;
    margin-right: unset;
    margin-left: 10px;
}

.avatar-inline {
    margin-right: unset;
    margin-left: 3px;
}

#file-dropzone-inner,#screenshot-inner {
    left: 100%;
}


.file-thumbnail {
    margin-right: unset;
    margin-left: 15px;
}

.color-picker-square {
    margin-right: unset;
    margin-left: 5px;
}

.js-project-creation-options {
    border-left: unset;
    padding-left: unset;
    border-right: 3px dotted #efefef;
    padding-right: 15px;
}


.project-overview-column {
    margin-right: unset;
    margin-left: 3%;
}

@media (max-width: 480px) {
    .project-overview-column {
        text-align:right;
    }
}

.project-header .dropdown-component {
    margin-right: unset;
    margin-left: 5px;
    float: right;
}

.project-header .views-switcher-component {
    float: right;
}

@media (max-width: 768px) {
    .project-header .views-switcher-component {
        float:none;
    }
}

.views {
    margin-right: unset;
    margin-left: 10px;
}

.views li {
    border-right: 1px solid var(--views-border-color);
    /*border-left: unset;*/
}

.views li:first-child {
    border-radius: 0 5px 5px 0;
}

.views li:last-child {
    /*border-right: 0;*/
    border-left: 1px solid var(--views-border-color);
    border-radius: 5px 0 0 5px;
}

.dashboard-project-stats small {
    margin-right: unset;
    margin-left: 10px;
}

.board-add-icon {
    float: right;
}

.task-board-sort-handle {
    float: right;
    padding-right: unset;
    padding-left: 5px;
}

.task-board-avatars {
    text-align: left;
    float: left;
}

.task-list-avatars {
    float: right;
}

.task-board-icons,.task-list-icons {
    text-align: left;
}

.task-board-icons span {
    margin-left: unset;
    margin-right: 4px;
}

.task-list-icons span {
    margin-left: unset;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .task-list-icons {
        text-align:right;
    }
}

span.task-icon-age-total {
    border-radius: 0 3px 3px 0;
}

span.task-icon-age-column {
    border-left: 1px solid #e5e5e5;
    border-right: none;
    margin-left: unset;
    margin-right: -5px;
    border-radius: 3px 0 0 3px;
}

.task-board-category-container {
    text-align: left;
}

.task-board-category {
    padding: 1px 2px 1px 3px;
}

.task-tags li {
    margin: 3px 0 0 3px;
}

.task-form-secondary-column {
    padding-left: unset;
    padding-right: 10px;
}

@media (max-width: 768px) {
    .task-form-secondary-column {
        padding-left:inherit;
        padding-right:0;
    }
}

.comment-sorting {
    text-align: left;
}

.comment-title {
    margin-left: unset;
    margin-right: 55px;
}

.comment-actions {
    text-align: left;
}

.comment-content {
    margin-left: unset;
    margin-right: 55px;
}

.subtask-cell {
    border-left: unset;
    border-right: 1px dotted #dedede;
}

.subtask-cell:first-child {
    border-left: indianred;
    border-right: none;
}

@media (max-width: 768px) {
    .subtask-cell {
        border-left: indianred;
        border-right: none;
    }
}

.text-editor a {
    margin-right: unset;
    margin-left: 10px;
}

.markdown ol,.markdown ul {
    margin-left: unset;
    margin-right: 25px;
}

.markdown blockquote {
    border-left: indianred;
    padding-left: unset;
    margin-left: unset;
    border-right: 3px solid #ddd;
    padding-right: 10px;
    margin-right: 20px
}

.panel li {
    margin-left: unset;
    margin-right: 20px;
}

.activity-date {
    margin-left: unset;
    margin-right: 10px;
}

.activity-content {
    margin-left: unset;
    margin-right: 55px;
}

.activity-description ul {
    margin-left: unset;
    margin-right: 20px;
}

.image-slideshow-overlay {
    left: 100%;
}

.image-slideshow-overlay figcaption {
    right: auto;
    left: 15px;
}

.slideshow-previous-icon {
    left: auto;
    right: 10px;
}

.slideshow-next-icon {
    right: auto;
    left: 10px;
}

.slideshow-close-icon {
    right: auto;
    left: 10px;
}

.slideshow-download-icon {
    left: auto;
    right: 10px;
}

.list-item-links,.list-item-actions {
    float: right;
    margin-left: unset;
    margin-right: 10px;
}


.bulk-change-checkbox {
    float: right;
}

.bulk-change-inputs {
    float: right;
    padding-left: unset;
    padding-right: 10px;
}